apiVersion: v1
kind: Service
metadata:
  name: notification-service
  labels:
    app: notification-service
spec:
  type: NodePort
  selector:
    app: notification-service
  ports:
  - port: 8004
    targetPort: 8004
    nodePort: 30004
    protocol: TCP
    name: http